
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{font-size: 16px;}

ul,ol,li{list-style-type: none;}

a{color: inherit; text-decoration: none;}

#wrap{width: 100%; background-color: #EDECEC;}

.inner{width: 1080px; margin: 0 auto;}

body{font-family: 'Noto Sans KR', sans-serif;}

/********* header *********/
header h1{
    text-align: center;
    padding: 20px 20px;
}
 
/********* main *********/

/********* sec1 *********/

main section h2{
    font-size: 3rem;
    text-align: center;
}

main #sec1{
    background-image: url(../images/main.jpg);
    height: 539px;
    background-position: center;
    background-repeat: no-repeat;
    
}
    
    


/********* sec2 *********/
main #sec2{
    text-align: center;
    margin-top: 80px;
}

main #sec2 h2{
    padding-bottom: 50px;
}

#sec2 #text{
    margin-bottom: 50px;
}

main #sec2 span{
    font-size: 1.3rem;
}

main #sec2 #arrow a:first-child{
    position:relative;
    top: -120px;
    left: -50px;
}

main #sec2 #arrow a:last-child{
    position:relative;
    top: -120px;
    right: -50px;
}

#sec2 #gift{
    padding-bottom: 50px;
}

/********* sec3 *********/
main #sec3 a img{
    
    margin: 0 auto;
    width: 100%;
    
}

main #sec3 .inner div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

main #sec3 #but{
    text-align: center;
    background-color: #C3322F;
    width: 361px;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 350px;
    color: white;
    font-size: 1.8rem;
    padding-top: 10px;
    border-radius: 10px;
    
}

main #sec3 #but:hover{
    background-color: #579642;
   
    
}

main #sec3 > #specialgift{
   text-align: center;
}

#sec3 > #specialgift > div > img:first-child{
    position: relative;
    top: -220px;
    left: 50px;
}

#sec3 > #specialgift > div > img:last-child{
    position: relative;
    top: -220px;
    right: 50px;
}

#sec3 h2{
    padding-bottom: 50px;
}

#sec3 p{
    padding-bottom: 50px;
}
/********* sec4 *********/
main #sec4 p{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

main #sec4 h4{
    padding-top: 25px;
    
}

#sec4 #class1, #class2, #class3, #class4{
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: space-evenly;

}

#sec4 #class1, #class2, #class3{
    padding-right: 23px;
}

/********* sec5 *********/
#sec5{
    text-align: center;
    background-image: url(../images/refundback.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 150px;
    padding-top: 10px;
    color: white;
    margin: 0 auto;
    
}

#sec5 p{
   font-weight: 200;
}

/********* sec6 *********/
#sec6 div{
    text-align: center;
    
}
#sec6 h2{
    padding-top: 80px;
    padding-bottom: 50px;
}


#sec6 p{
    text-align: center;
    padding-bottom: 50px;
}

#sec6 #gifts a{
    margin-right: 20px;
    margin-left: 20px;
}

#sec6 #gifts a:first-child{
    position:relative;
    top: -80px;
}

#sec6 #gifts a:last-child{
    position:relative;
    top: -80px;
} 

#sec6 #gifts{
    padding-bottom: 50px;
}

#sec6 #dot{
    padding-bottom: 80px;
}

#sec6 #gifts a:nth-child(2):hover img{
    transform: scale(1.3,1.3);
    transition: all ease 0.5s;
}

#sec6 #gifts a:nth-child(3):hover img{
    transform: scale(1.3,1.3);
    transition: all ease 0.5s;
}

#sec6 #gifts a:nth-child(4):hover img{
    transform: scale(1.3,1.3);
    transition: all ease 0.5s;
}


/********* footer *********/
footer{
    background-color: #D9D9D9;
    text-align: center;
}

footer .icon{
    padding: 50px 0 50px 0;
    text-align: center;
}

footer .icon a{
    padding: 0 15px 0 15px;
}

footer ul li{
    display: inline-flex;
    padding-bottom: 25px;

}

footer p{
    padding-bottom: 80px;
}
footer ul li a{
  margin: 0px 30px;
}

footer ul li a:hover{
    color: #579642;
    
}





@media (max-width: 768px){
   
    
     
}

@media (max-width: 360px){

    header h1 img{
        width: 320px;
        display: flex;
    }
    main #sec1{
        background-image: url(../images/mob_main.jpg);
    }
     main #sec3 #specialgift{
        background-image:url(../images/mob_specialgift.jpg);
     }

     #sec4 > #class1, #class2, #class3, #class4{
        display: flex;
        justify-content: flex-end;
        width: 250px;
        
    }

    
}





